*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  margin-right: calc(-1 * (100vw - 100%));
  background-color: #ffd166a3;
  overflow-x: hidden;
}

.body-blocked-scrolling {
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 2.3rem;
  color: #ef476f;
  text-shadow: 1px 1px 0 #000000f7;
}

.new-book-btn-div {
  margin-left: 3rem;
  margin-top: 3rem;
  display: flex;
  justify-content: flex-start;
}

.new-book-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 36px;
  border-radius: 8px;
  border: 1px solid #D6D6D6;
  background-color: #fffbed;
  box-shadow: 3px 3px 0px 0px #073b4ccc;
  outline:2px solid #1f0844;
  outline-offset: -3px;
}

.new-book-btn:active {
  background: #25ea8d;
  color: #ffffff;
  outline: #61353f solid 2px;
  outline-offset: 3px;
}

button, 
img, 
h1,
label,
legend,
.card-p > :first-child {
  user-select: none;
}

button {
  cursor: pointer;
}

.add-book-btn {
  background-color: #25ea8d;
}

.close-dialog-btn {
  background-color: #ef476f;
}

.add-book-btn, .close-dialog-btn {
  padding: 7px 12px;
  border-radius: 4px;
  border: solid #00000094 2px;
}

dialog {
  border: 2px dotted #607D8B;
  border-radius: 1rem;
  width: 45%;
  min-width: 303px;
  max-width: 750px;
  background-color: #fffbed;
  box-shadow: 4px 4px 4px 0px #000000;
  margin-top: 150px;
}

dialog::backdrop {
  background: black;
  opacity: .7;
}

form {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 22px;
}

legend {
  text-align: left;
  color: #585858;
  font-weight: bolder;
  background: #fffbed;
  font-size: 1.2rem;
}

p + p {
  margin-top: 1rem;
}

.form-p {
  display: grid;
  color: #0000009c;
}

input {
  font: 1rem sans-serif;
  width: 100%;
  max-width: 100%;
  border: 2px solid #d8b84cb3;
}

input:focus-visible {
  border: 2px solid black;
  border-radius: 3px;
  outline: none;
}

#pages, #year {
  width: 7rem;
}

label {
  display: inline-block;
  width: 150px;
  text-align: left;
  font-size: 0.9rem;
}

.add-book-btn-div {
  display: flex;
  justify-content: flex-end;
  gap: 2.5rem;
  padding-top: 0.5rem;
}

.container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.card-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  width: 80%;
  height: 50%;
  align-content: center;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  max-width: 34.375rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  background-color: white;
  box-shadow: 5px 4px 0px 0px #073b4ccc;
}

.card-p, 
.card-top-icons, 
.card-bottom-buttons {
  padding: 5px 20px;
}

.card-p {
  display: flex;
  gap: 50px;
  margin-bottom: 0;
  margin-top: 2px;
}

.card-top-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.card-book-icon-span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-p > :first-child {
  width: 9rem;
  color: #0000009c;
}

.card-p > span:nth-of-type(2) {
  width: 320px;
}

.ID {
  width: 310px;
}

.card-bottom-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
}

.rm-book-btn, .book-status-btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
}

.book-icon {
  width: 25px;
  height: 25px;
}

.rm-book-icon,
.book-status-icon {
  width: 30px;
  height: 30px;
}

.info-icon-btn-div {
  position: relative;
  display: inline-block;
}

.info-icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  padding: 6px 6px;
}

.toggle-tip-span-hidden {
  display: none;
}

.toggle-tip-span-visible {
  display: inline-block;
  position: absolute;
  top: -103px;
  left: -357%;
  width: 167px;
  background-color: lightgreen;
  border-radius: 12px;
  padding: 16px;
}